<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all"  (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All Users</ion-segment-button>
    <ion-segment-button value="favorites">Favorites</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!relevantUsers || relevantUsers.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p *ngIf="mode === 'all'">There is currently no suitable users, please check back later!</p>
        <p *ngIf="mode === 'favorites'">No favorites found!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && relevantUsers.length > 0">
<!--    <ion-row>-->
<!--      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">-->
<!--        <ion-card>-->
<!--          <ion-card-header>-->
<!--            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>-->
<!--            <ion-card-subtitle>{{ relevantPlaces[0].price | currency  }} / Night</ion-card-subtitle>-->
<!--          </ion-card-header>-->
<!--          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>-->
<!--          <ion-card-content>-->
<!--            <p>{{ relevantPlaces[0].description }}</p>-->
<!--          </ion-card-content>-->
<!--          <div class="ion-text-right">-->
<!--            <ion-button-->
<!--                    fill="clear"-->
<!--                    color="primary"-->
<!--                    [routerLink]="[-->
<!--                    '/',-->
<!--                    'places',-->
<!--                    'tabs',-->
<!--                    'discover',-->
<!--                    relevantPlaces[0].id]">-->
<!--              More-->
<!--            </ion-button>-->
<!--          </div>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-virtual-scroll [items]="listedLoadedUsers" approxItemHeight="70px">
            <ion-item [routerLink]="['/', 'places', 'tabs', 'discover', user.id]"
                      detail
                      *virtualItem="let user">
              <ion-avatar slot="start">
                <ion-img [src]="user.imageUrl"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{ user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1) + ' ' + user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1) }}</h2>
              </ion-label>
            </ion-item>
          </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
