<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col size="12" size-sm="8" offset-sm="2">-->
<!--        <div *ngIf="isLoading" class="ion-text-center">-->
<!--          <ion-spinner color="primary"></ion-spinner>-->
<!--        </div>-->
<!--        <div class="ion-text-center" *ngIf="!isLoading && offers.length <= 0">-->
<!--          <p>No offers found! Please create one first!</p>-->
<!--          <ion-button color="primary" routerLink="/places/tabs/offers/new">-->
<!--            Offer New Place-->
<!--          </ion-button>-->
<!--        </div>-->
<!--        <ion-list *ngIf="!isLoading && offers.length > 0">-->
<!--          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>-->
<!--            <app-offer-item [offer]="offer"></app-offer-item>-->
<!--            <ion-item-options>-->
<!--              <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">-->
<!--                <ion-icon name="create" slot="icon-only"></ion-icon>-->
<!--              </ion-item-option>-->
<!--            </ion-item-options>-->
<!--          </ion-item-sliding>-->
<!--        </ion-list>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-avatar class="profileImg">
          <ion-img  [src]="myUser.imageUrl"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding ion-margin">
        <p>{{ "Full name: " + myUser.firstName.charAt(0).toUpperCase() + myUser.firstName.slice(1) + ' ' + myUser.lastName.charAt(0).toUpperCase() + myUser.lastName.slice(1) }}</p>
        <p>{{ "Phone number: " + myUser.phone }}</p>
        <p>{{ "Age: " + myUser.age }}</p>
        <p>{{ "My estimated budget: " + myUser.budget + "₪" }}</p>
        <p>{{ "The area I'm looking to live in: " + myUser.area }}</p>
        <p>{{ "More details about me: " + myUser.MoreDetails }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding ion-text-center">
        <ion-button color="primary" routerLink="/questions1" [queryParams]="{allowBack:true}">
          A new questionnaire
        </ion-button>
        <br>
        <br>
        <ion-button color="primary" (click)="onLogout()">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
