<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/places/tabs/offers'"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="primary">
<!--      <ion-button (click)="onUpdateProfile()" [disabled]="!form?.valid || !form.get('image').value">-->
      <ion-button (click)="onUpdateProfile()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Age</ion-label>
            <ion-select type="number" formControlName="age">
              <ion-select-option  *ngFor="let age of ages" value="{{ age }}">{{ age }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Estimated budget</ion-label>
            <ion-input type="number" formControlName="budget"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Preferred area</ion-label>
            <ion-select formControlName="area">
              <ion-select-option value="north">North</ion-select-option>
              <ion-select-option value="sharon">Sharon area</ion-select-option>
              <ion-select-option value="center">Center</ion-select-option>
              <ion-select-option value="south">South</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">More details</ion-label>
            <ion-textarea rows="3" formControlName="MoreDetails"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker
                  [showPreview]="true"
                  [selectedImage]="myUser.imageUrl"
                  (imagePick)="onImagePicked($event)"
                  >
          </app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
