<ion-app>
<!--  <ion-menu side="start">-->
<!--    <ion-header>-->
<!--      <ion-toolbar>-->
<!--        <ion-title>-->
<!--          PairBnB-->
<!--        </ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content>-->
<!--      <ion-list>-->
<!--&lt;!&ndash;        <ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-item lines="none" routerLink="/places/tabs/discover">&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-icon name="business" slot="start"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-label>Discover Places</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-item lines="none" routerLink="/favorites">&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-icon name="checkbox-outline" slot="start"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-label>Your Bookings</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-item lines="none" (click)="onLogout()" button>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-icon name="exit" slot="start"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-label>Logout</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-menu-toggle>&ndash;&gt;-->
<!--      </ion-list>-->
<!--    </ion-content>-->
<!--  </ion-menu>-->
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
